* {
  box-sizing: border-box;
}

body {
  background-color: rgb(5, 43, 82);
}

/* APP COMPONENT */
.App {
  display:block;
  overflow: hidden;
  max-width:768px;
  margin: 0 auto;
  background-color: #fff;
}

.app-slider {
  position: relative;
  transition: all 0.25s ease-in-out;
}

/* HEADER COMPONENT */
.comp-header {
  padding: 20px;
}

/* REPORT COMPONENT */
.comp-report {
}

.report-block {
  margin-top: 40px;
}

/* DETAILS COMPONENT */
.comp-details {
  width: 100%;
  position: absolute;
  left: 100%;
  top: 0;
  padding: 20px;
  margin-bottom: 20px;
}

.comp-details button {
  margin-bottom:35px;
}

.details-header {
  display:flex;
  align-items:center;
  margin-bottom: 30px;
}

.details-active {
  transform: translateX(-100%)
}

/* ELEMENTBLOCK COMPONENT */
.comp-elementblock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #eee;
  padding: 20px 10px;
  cursor: pointer;
}

.comp-elementblock:last-child {
  border-bottom: 1px solid #eee;
}

.comp-elementblock text {
  font-size: 0.8rem;
}

.comp-elementblock > p {
  /* margin: 0 0 5px 0; */
  font-size: 0.9rem;
}

/* PERCENTAGE COMPONENT */
.comp-percentage {
  margin-left: auto;
  margin-right: 20px;
}

.percentage-score {
  color: #7fa8c4;
  font-size: 0.8rem;
  font-weight: 700;
}

.percentage-score span{
  color: #ccc;
}

/* RINGSCORE COMPONENT */
.comp-ringscore {
}

.comp-ringscore {
  display: block;
  width: 60px;
  height: 60px;
}

.comp-ringscore svg{
  width: 100%;
  height: auto;
}

.progressring {
  transition: stroke-dashoffset 0.5s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

/* MEASUREMENTS COMPONENT */
.comp-measurements {
}

.measurements-block {
  display: flex;
  justify-content: space-between;
}

.measurements-item {
  text-align: center;
  margin: auto;
}

.measurements-score {
  color: #7fa8c4;
  font-size: 0.8rem;
  font-weight: 700;
  margin: 0 0 4px 0;
}

.measurements-score span{
  color: #ccc;
}

.measurements-date {
  color: #333;
  font-size: 0.8rem;
  margin-top: 0;
}

.measurements-date span {
  display: block;
}

/* TILE COMPONENT */
.comp-tile {
  width: 2rem;
  height: 2rem;
  background: rgb(211, 211, 211);
  margin-left: 20px;
}

.comp-tile img{
  width:100%;
  height: auto;
}