* {
  box-sizing: border-box;
}

body {
  background-color: rgb(5, 43, 82);
}

.App {
  display:block;
  overflow: hidden;
  max-width:768px;
  margin: 0 auto;
  background-color: #fff;
}

.app-slider {
  position: relative;
  transition: all 0.25s ease-in-out;
}

.details-active {
  transform: translateX(-100%)
}

.comp-header {
  padding: 20px;
}

.comp-report {
  /* display: inline-block; */
}
.comp-details {
  width: 100%;
  position: absolute;
  left: 100%;
  top: 0;
  padding: 20px;
}


.comp-elementblock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #ccc;
  padding: 10px 0;
  cursor: pointer;
}

.comp-elementblock:last-of-type {
  border-bottom: 1px solid #ccc;
}

.comp-elementblock text {
  font-size: 0.8rem;
}

.comp-elementblock > p {
  /* margin: 0 0 5px 0; */
  font-size: 0.9rem;
}

.comp-percentage {
  /* justify-self: flex-end; */
  margin-left: auto;
  margin-right: 20px;
}

.comp-ringscore {

}

.comp-ringscore {
  display: block;
  width: 60px;
  height: 60px;
}

.comp-ringscore svg{
  width: 100%;
  height: auto;
}


.progressring {
  transition: stroke-dashoffset 0.5s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}


.comp-measurements {
}

.comp-measurements span {
  display: block;
}

.measurements-block {
  display: flex;
  justify-content: space-between;
}

.measurements-item {
  text-align: center;
  margin: auto;
}

.comp-tile {
  width: 2rem;
  height: 2rem;
  background: rgb(211, 211, 211);
  margin-left: 20px;
}

.comp-tile img{
  width:100%;
  height: auto;
}

/* @media (min-width: 48rem) {
  .App {

  }

} */